/*!
 * Style custom
 * Codeando México 
 !*/

/** FONTS **/
@font-face {
    font-family: 'exo_2bold';
    src: asset_url('exo2-bold-webfont.eot');
    src: asset_url('exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('exo2-bold-webfont.woff2') format('woff2'),
         asset_url('exo2-bold-webfont.woff') format('woff'),
         asset_url('exo2-bold-webfont.ttf') format('truetype'),
         asset_url('exo2-bold-webfont.svg#exo_2bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_2light';
    src: asset_url('exo2-light-webfont.eot');
    src: asset_url('exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('exo2-light-webfont.woff2') format('woff2'),
         asset_url('exo2-light-webfont.woff') format('woff'),
         asset_url('exo2-light-webfont.ttf') format('truetype'),
         asset_url('exo2-light-webfont.svg#exo_2light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_2thin';
    src: asset_url('exo2-thin-webfont.eot');
    src: asset_url('exo2-thin-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('exo2-thin-webfont.woff2') format('woff2'),
         asset_url('exo2-thin-webfont.woff') format('woff'),
         asset_url('exo2-thin-webfont.svg#exo_2thin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_2regular';
    src: asset_url('exo2-regular-webfont.eot');
    src: asset_url('exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('exo2-regular-webfont.woff2') format('woff2'),
         asset_url('exo2-regular-webfont.woff') format('woff'),
         asset_url('exo2-regular-webfont.ttf') format('truetype'),
         asset_url('exo2-regular-webfont.svg#exo_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_2medium';
    src: asset_url('exo2-medium-webfont.eot');
    src: asset_url('exo2-medium-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('exo2-medium-webfont.woff2') format('woff2'),
         asset_url('exo2-medium-webfont.woff') format('woff'),
         asset_url('exo2-medium-webfont.ttf') format('truetype'),
         asset_url('exo2-medium-webfont.svg#exo_2medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_2semi_bold';
    src: asset_url('exo2-semibold-webfont.eot');
    src: asset_url('exo2-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('exo2-semibold-webfont.woff2') format('woff2'),
         asset_url('exo2-semibold-webfont.woff') format('woff'),
         asset_url('exo2-semibold-webfont.ttf') format('truetype'),
         asset_url('exo2-semibold-webfont.svg#exo_2semi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_2extra_light';
    src: asset_url('exo2-extralight-webfont.eot');
    src: asset_url('exo2-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('exo2-extralight-webfont.woff2') format('woff2'),
         asset_url('exo2-extralight-webfont.woff') format('woff'),
         asset_url('exo2-extralight-webfont.ttf') format('truetype'),
         asset_url('exo2-extralight-webfont.svg#exo_2extra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** GLOBAL STYLE  **/
body,html {
  height: 100%;
}

.container {
    margin: 30px auto;
}

/** SECTION HEADER  **/
.wide {
    width:100%;
    height:calc(100% - 1px);
    background-image: image_url('bg.jpg');
    background-size:cover;
    position: relative;
    min-height: 500px;
}
.title,
.sub-title {
    text-align: center;
    margin: auto;
}
.title {
    font-family: 'exo_2bold';
    font-size: 70px;
    letter-spacing: 0.57px;
    line-height: 80px;
    text-transform: uppercase;
}
.sub-title {
    font-family: 'exo_2light';
    font-size: 22px;
    width: 55%;
    letter-spacing: 1.83px;
    line-height: 35px;
}
.text-bold {
    font-weight: bold;
}
/** SECTION ABOUT  **/
#about {
    width: 100%;
    background: transparent;
    display: block;
    height: auto;
    position: relative;
    top: -80px;
}
#what-do {
    width: 100%;
    margin: 0 auto;
}
#what-do .container-texto {
    background-color: #22D790;
    padding: 40px;
}
.parrafo {
    font-family: 'exo_2bold';
    font-size: 30px;
    line-height: 36px;
    color: white;
    padding: 20px;
    border: 2px solid #86F6B8;
}
.task p {
    font-family: 'exo_2bold';
    font-size: 20px;
    color: white;
    line-height: 22px;
    letter-spacing: 0.5px;
    width: 70%;
}
.task hr {
    border-top: 4px solid #86F6B8;
    width: 20%;
    float: left;
    display: block;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.task div{
    width: 100%;
    height: 35px;
}
.text-center h3 {
    margin-top: 0;
    color: #596072;
    font-size: 42px;
    font-family: 'exo_2bold';
    line-height: 50px;
    margin-bottom: 30px;
}

/** SECTION PROYECTOS  **/
.proyectos {
    color: #596072;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proyecto {
    margin: 10px;
}
.box-content {
    position: relative;
    border: 1px solid rgba(132, 143, 163, 0.26);
}
.box-content img {
    width: 100%;
    height: 250px;
}
.box {
    max-width: 250px;
    margin: 0 auto;
}
.progress {
    height: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.progress-bar {
    background: #E91852;
}
.box-content h4 {
    font-size: 24px;
    color: #596072;
    font-family: 'exo_2regular';
}
.box-content p {
    font-family: 'exo_2light';
    color: #596072;
    font-size: 16px;
}
.box-content p span{
    font-family: 'exo_2bold';
} 
.otro-padding {
    padding: 19px;
}
.proyectos a:hover {
    text-decoration: none;
}
.hover-shadow {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(47, 47, 47, .4);
    z-index: 2;
    position: absolute;
}
.proyectos a:hover .hover-shadow {
    display: block;
}

/** SECTION PARTICIPACION  **/
.other-margin-top {
    margin-top: 50px;
}
.card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}
.ejemplo-de-participacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 770px;
    margin: 30px auto;
}
.icon-participacion {
    text-align: center;
    flex: 1;
}
.texto-participacion {
    flex: 2;
    ul {
        padding: 0 5px;
    }
}
.icon-participacion img {
    height: 150px;
}
.titulo-participacion {
    font-size: 28px;
    color: #848DA2;
    font-family: 'exo_2light';
    text-align: left;
}
.participacion ul {
    list-style: none;
}
.participacion ul li {
    color: #2F374E;
    font-family: 'exo_2regular';
    font-size: 18px;
}
.participacion ul li span {
    background-image: image_url('square.png');
    width: 22px;
    height: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 7px;
    left: -10px;
}
.participacion ul .active {
    color: #E91852;
}
.participacion ul .active span {
    background-image: image_url('squeare-active.png');
    border-radius: 50%;
}

/** SECTION HACKERS  **/
.container-hackers {
    width: 100%;
    background: #22D790;
    margin-top: 50px;
}
.hackers .izq {
    background: #22D790;
    padding: 10px;
}
.container-hackers .der {
    background-image: image_url('hackers.jpg');
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.no-padding {
    padding: 0;
}
.color-red {
    color: #E91852;
}
.izq p,
.izq h3 { 
    width: 70%;
    margin-left: 100px;
    display: block;
    font-size: 18px;
    color: white;
    font-family: 'exo_2light';
    line-height: 30px;
    letter-spacing: 1.5px;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    padding-left: 50px;
}
.izq h4 {
    width: 150px;
    background: white;
    margin-left: 150px;
    font-size: 24px;
    color: #596072;
    letter-spacing: 1.5px;
    text-align: left;
    margin-top: 10px;
    padding-left: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/** SECTION PROPÓSITO  **/
.newsletter {
    padding: 40px;
}
.newsletter h3,
.proposito h3 {
    margin-top: 0;
    color: #596072;
    font-size: 42px;
    font-family: 'exo_2semi_bold';
    line-height: 50px;
    margin-bottom: 30px;
}
.newsletter h3 {
    line-height: 1;
}
.no-point{
    list-style: none;
    padding: 0;
}
.proposito h4 {
    margin-top: 0;
    color: #596072;
    font-size: 25px;
    font-family: 'exo_2semi_bold';
    line-height: 50px;
    margin-bottom: 30px;
}
.circulo {
   font-family: 'exo_2light';
    color: #E91852;
    position: relative;
    top: 2px;
    font-size: 18px;
}
.change-color{
    color: #2F374E;
}
.proposito-text {
    text-align: center;
    font-size: 22px;
    color: #2F374E;
    font-style: italic;
    font-family: 'exo_2regular';
    width: 48%;
    margin: 0 auto;
}
.unete {
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
    background: #E91852;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    font-family: 'exo_2medium';
}
.unete:hover {
    background: #BD1543;
    color: white;
}
.container-newsletter {
    width: 100%;
    background: #DFE3EF;
    margin: 0;
}

/** SECTION NEWSLETTER  **/
.container-form {
    margin-top: 30px;
    margin-bottom: 40px;
}
.input-group,
.container-form {
    margin: 0 auto;
}
#email {
    min-width: 300px;
    height: 39px;
    text-align: left;
    color: #848DA2;
    font-family: 'exo_2medium';
    font-size: 18px;
}
.btn {
    border-radius: 0;
}
.btn-info {
    background-color: #22D790;
    border-color: white;
    font-size: 18px;
    font-family: 'exo_2medium';
}
.btn-info:hover {
    background-color: #189D69;
    border-color: white;
}

/** SECTION FOOTER  **/
footer {
    width: 100%;
    background: black;
    padding: 30px;
}
footer span {
    left: 10px;
}
footer a {
    padding-bottom: 0;
}
.menu-bottom {
    position: relative;
    margin-top: 70px;
    margin-left: 150px;
    color: #E1E4EB;
    font-size: 16px;
    font-family: 'exo_2extra_light';
    border-left: 6px solid #86F6B8;
}
.menu-bottom ul {
    list-style: none;
    padding-left: 20px;
}
.ajuste-texto-2 {
    font-family: 'exo_2extra_light';
    color: white;
}
.ajuste-texto-2 span {
    color: #22D790;
    position: relative;
    left: 0;
    top: 1px;
}
.ajuste-texto-2 a {
    color: #DFE3EF;
    cursor: pointer;
}

.aparecer-respo{
    display: none;
}

.footer-top-container {
    display: flex;
    margin: 0;
}

.hero-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    color: #fff;
    height: 200px;
    max-width: 1170px;
}
.hackers-sections {
    display: flex;
}
.left-hackers-section {
    display: block;
    flex: 1;
    color: #fff;
    padding: 40px 80px;
}
.right-hackers-section {
    display: block;
    flex: 1;
}
.hackers-title {
    font-size: 25px;
    font-family: 'exo_2bold';
    line-height: 42px;
    letter-spacing: 0.32px;
    font-size: 40px;
    margin: 0 0 10px 0;
}
.hackers-text {
    font-family: 'exo_2light';
    line-height: 30px;
    letter-spacing: 1.5px;
    font-size: 17px;
    margin: 0 0 40px 0;
 }
.hackers-text-emphasis-large {
    font-size: 24px;
    color: #596072;
    letter-spacing: 1.5px;
    padding: 5px;
    background: white;
    font-weight: 500;
    line-height: 1.1;
}
.bottom-hackers-text {
    font-family: 'exo_2light';
    line-height: 30px;
    letter-spacing: 1.5px;
    font-size: 17px;
    margin: 10px 0 0 0;
}
.hackers-text-emphasis-small {
    background: #23C183;
}
.newsletter-text {
    width: 48%;
    font-size: 18px;
    margin: 0 auto 20px auto;
}
@media (max-width: 600px) {
    .task {
        width: 100%;
    }
    .task p {
        font-size: 15px;
        width: 100%;
    }
    .title {
        font-size: 35px;
        line-height: 45px;
    }
    .sub-title {
        display: none;
    }
    .hero-text {
        height: 130px;
    }
    .wide {
        height: 400px;
        min-height: inherit;
    }
    .container-hackers .der {
        display: none;
    }
    .left-hackers-section {
        text-align: center;
        padding: 40px 20px;
    }
    .bottom-hackers-text {
        margin: 20px 0 0 0;
    }
    .hackers-title {
        font-size: 25px;
    }
    .hackers-text {
        margin: 0 0 20px 0;
    }
    .ejemplo-de-participacion {
        display: block;
    }
    .titulo-participacion {
        text-align: center;
    }
    .participacion ul {
        width: 80%;
        margin: 0 auto;
    }
    .proposito-text,
    .newsletter-text {
        width: 90%;
        font-size: 14px;
    }
    .newsletter-text {
        font-family: 'exo_2regular';
        margin: 0 auto 20px auto;
    }
}

/** RESPONSIVE  **/
@media (min-width: 601px) and (max-width: 767px) {
    .ejemplo-de-participacion {
        display: block;
    }
    .quitar-respo {
        display: none;
    }
    .aparecer-respo {
        display: block;
        right: 0;
        position: absolute;
        z-index: 100;
        text-align: center;
        width: 60%;
        background: white;
        background: rgba(47, 47, 47, 0.90);
        top: 43px;
    }
    .aparecer-respo li {
        color: #E1E4EB;
        padding: 15px;
        font-family: 'exo_2light';
        text-transform: uppercase;
    }
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    .sub-title{
        font-size: 16px;
        line-height: 26px;
    }
    .hero-text {
        height: 200px;
    }
    .wide {
        height: 400px;
        min-height: inherit;
    }
    .parrafo {
        font-size: 20px;
    }
    .task p {
        font-size: 15px;
        width: 100%;
    }
    .text-center h3 {
        font-size: 30px;
    }
    .otro-padding {
        padding: 19px ;
    }
    .proyectos .col-sm-6 {
        margin-bottom: 10px;
    }
    .participacion .col-xs-12,
    .img-circle {
        margin: 0 auto;
        text-align: center;
        float: inherit;
    }
    .titulo-participacion {
        text-align: center;
        margin-top: 10px;
    }
    .participacion ul {
        width: 80%;
        margin: 0 auto;
    }
    .participacion ul li {
        text-align: left;
    }
    .izq h4,
    #email,
    .proposito-text,
    .newsletter-text,
    .izq p, .izq h3 {
        font-size: 14px;
    }
    .btn-info {
        font-size: 16px;
    }
    .container-hackers .der {
        display: none;
    }
    .left-hackers-section {
        text-align: center;
        padding: 40px 20px;
    }
    .bottom-hackers-text {
        margin: 20px 0 0 0;
    }
    .hackers-title {
        font-size: 25px;
    }
    .hackers-text {
        margin: 0 0 20px 0;
    }
    .proposito-text,
    .newsletter-text {
        width: 90%;
    }
    .newsletter-text {
        font-family: 'exo_2regular';
        margin: 0 auto 20px auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .github>span, .twitter>span {
        left: 1px;
    }
    .title,
    .sub-title {
        width: 90%;
    }
    .title {
        font-size: 50px;
        line-height: 60px;
    }
    .sub-title {
        font-size: 20px;
    }
    .wide {
        max-height: 500px;
    }
    #what-do .container-texto {
        padding: 25px;
    }
    .parrafo {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .task p {
        font-size: 18px;
    }
    .text-center h3 {
        font-size: 33px;
    }
    .box {
        max-width: 278px;
    }
    .box-content h4 {
        font-size: 20px;
    }
    .otro-padding {
        padding: 30px;
    }
    .other-margin-top {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .titulo-participacion {
        font-size: 26px;
        margin-top: 0;
    }
    .participacion ul li {
        font-size: 14px;
    }
    .container-hackers .der {
        display: none;
    }
    .izq p, .izq h3 {
        text-align: center;
        width: 77%;
        margin: 20px auto;
        padding-left: 0;
        font-size: 16px;
    }
    .proposito-text,
    .newsletter-text {
        width: 90%;
        font-size: 18px;
    }
    .newsletter-text {
        font-family: 'exo_2regular';
        margin: 0 auto 20px auto;
    }
    .unete {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
    }
    footer .container {
        width: 100%;
    }
    footer {
        padding: 15px;
    }
    .hero-text {
        height: 250px;
    }
    .left-hackers-section {
        text-align: center;
        padding: 40px 20px;
    }
    .hackers-text-emphasis-large {
        padding: 5px 40px;
    }
    .bottom-hackers-text {
        margin: 20px 0 0 0;
    }
    .hackers-text {
        margin: 0 0 20px 0;
    }
}
/** iPad | max 1024px **/
@media (min-width: 992px) and (max-width: 1199px) {
    .title {
        font-size: 60px;
        line-height: 70px;
    }
    .sub-title {
        font-size: 20px;
        line-height: 30px;
        width: 60%;
    }
    .wide {
        height: 500px;
    }
    .parrafo {
        width: 100%;
        font-size: 27px;
    }
    .task p {
        width: 100%;
        font-size: 18px;
    }
    #what-do .container-texto {
        padding: 20px;
    }
    .text-center h3 {
        font-size: 38px;
    }
    .participacion ul li {
        font-size: 16px;
    }
    .izq p,
    .izq h3 {
        font-size: 16px;
        margin-left: 20px;
        line-height: 22px;
    }
    .izq p {
        width: 70%;
    }
    .proposito-text,
    .newsletter-text {
        width: 70%;
        font-size: 20px;
    }
    .newsletter-text {
        font-family: 'exo_2regular';
        margin: 0 auto 20px auto;
    }
    .unete {
        font-size: 22px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .newsletter h3 {
        font-size: 36px;
    }
    .btn-info,
    #email {
        font-size: 16px;
    }
    footer {
        padding-top: 0;
    }
}
@media (min-width: 1200px) {
    .title {
        font-size: 60px;
        line-height: 70px;
    }
    .sub-title {
        font-size: 20px;
        line-height: 30px;
        width: 60%;
    }
    .wide {
        height: 500px;
    }
    #what-do{
        width: 90%;
    }
    footer .container {
        width: 100%;
    }
    izq p,
    .izq h3,
    .izq h2 {
        margin-left: 50px;
    }
    .izq p, .izq h3 {
        margin-left: 50px;
        padding-left: 40px;
        font-size: 17px;
        width: 60%;
    }
}
@media (max-width: 415px) {
    .title {
        font-size: 25px;
        line-height: 35px;
    }
    .sub-title {
        display: none;
    }
    .hero-text {
        height: 70px;
    }
    .wide {
        max-height: 300px;
    }
    .parrafo {
        font-size: 17px;
        line-height: 22px;
        padding: 15px;
    }
    #what-do .container-texto {
        padding: 15px;
    }
    .menu-bottom {
        margin-left: 15px;
    }
    .izq p, .izq h3 {
        font-size: 14px;
        line-height: 22px;
    }
    .participacion ul {
        width: 100%;
        padding-left: 0;
    }
    .task {
        width: 100%;
    }
    #proyectos-codeando,
    .proyectos,
    .participacion ,
    .participacion .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .box-content p,
    .box-content h4 {
        font-size: 14px;
    }
    .participacion ul li span {
        display: none;
    }
    .participacion ul li {
        text-align: center;
        margin-bottom: 10px;
    }
    .container-hackers .der {
        display: none;
    }
    .left-hackers-section {
        text-align: center;
        padding: 40px 20px;
    }
    .hackers-text {
        margin: 0 0 20px 0;
    }
    .bottom-hackers-text {
        margin: 20px 0 0 0;
    }
    .hackers-title {
        font-size: 25px;
    }
    .ejemplo-de-participacion {
        display: block;
    }
}